@mixin font($font_name, $file_name, $weight, $style) {

	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
	font-style: #{$style};
	}
}

@import "fonts";

* {
	margin: 0;
	padding: 0;
	border: 0;
 }

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

html, body {
	--main-font-family: Montserrat, sans-serif;
	--secondary-font-family: Roboto, Arial;
	font-family: var(--main-font-family);
}

body.blocked { overflow: hidden; }

.row {
	width: 100%;
}

.wrapper {
	margin: 0;
	padding: 20px 20px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 20px;
	cursor: pointer;
	letter-spacing: .1em;
	color: #fff;
	background-color: green;
	border: none;
	border-radius: 5px;
	font-family: var(--main-font-family);
	font-size: 1.5rem;
	font-weight: bold;
	@media (max-width: 768px) {
		align-self: center;
	}
}

.hero {
	background-image: url(../img/parta-almaty-001.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000;
		opacity: .7;
		z-index: 200;
	}
	&_content {
		color: #fff;
		z-index: 300;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: var(--main-font-family);
		&__heading {
			font-size: 2.8rem;
			margin-bottom: 30px;
			font-weight: bold;
			line-height: 1.3em;
			@media (max-width: 768px) {
				font-size: 2.5rem;
			}
		}
		&__subheading {
			font-family: var(--main-font-family);
			// font-family: serif;
			font-size: 2rem;
			margin-bottom: 30px;
			line-height: 1.3em;
		}
		&__description {
			font-family: var(--main-font-family);
			font-size: 1.6rem;
			line-height: 1.5em;
			max-width: 500px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 30px;
			@media (max-width: 768px) {
				font-size: 1.3rem;
			}
			&::before {
				content: "";
				display: block;
				width: 200px;	
				border-top: 1px solid #fff;
				margin-bottom: 30px;
				height: 1px;
			}
		}
		b {
			font-weight: bold;
			display: contents;
		}
	}
	.black-friday {
		display: flex; align-items: center;justify-content: center;
		background: rgba(0,0,0,0.65);
		color: #fff;
		font-size: 2.5rem;
		padding: 15px;
		border-radius: 5px;
		font-weight: bold;
		margin-bottom: 1rem;
		&__discount {
			color: green;
			font-size: 1.2em;
			margin-left: .25em;
		}
	}
	
}
.container { 
	max-width: 968px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	padding: 0 20px;
	margin: 0 auto;
	align-self: center;
	justify-self: center;
}
.section {
	height: 100vh;
	padding-top: 20px; padding-bottom: 20px;
	&:nth-child(even) { background: #F0F0F0; }
	@media (max-width: 768px) {
		height: auto;
	}
	&.height100vh {
		@media (max-width: 768px) {
		height: 100vh;
		} 
	}

	&__title {
		font-size: 3.5rem;
		margin-bottom: 20px;
		line-height: 1.2em;
		font-weight: bold;
		&.smaller { 
			font-size: 2.5rem; 
			@media (max-width: 768px) {
				font-size: 1.5rem;
			}
		}
		@media (max-width: 768px) {
			font-size: 2rem;
		}
	}
	&__subtitle {
		font-family: var(--secondary-font-family);;
		font-size: 1.7rem;
		line-height: 1.5em;
		margin-bottom: 15px;
		@media (max-width: 768px) {
			font-size: 1.3rem;
		}
	}
}

.features-wrap {
	max-width: 700px;
}
.features {
	counter-reset: features;
	display: flex; flex-direction: column; align-items: flex-start; justify-content: start;
	text-align: left;
	&__row {
		display: flex; flex-direction: column; align-items: flex-start; justify-content: start;
		position: relative;
		margin-left: 70px;

		&::before {
			position: absolute; left: -70px;
			display: flex; align-items: center;justify-content: center; flex-direction: row;
			font-size: 25px; font-weight: bold;
			width: 50px; height: 50px;
			border:	2px solid #1f5bff;
			border-radius: 150px;
			color: #1f5bff;
			counter-increment: features;
			content: counter(features);
		}
		&.check::before { content: url(../img/check.svg); border: none; left: -95px; }	
	}
}
.feature-heading {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 15px;
}
.feature-text {
	font-family: Roboto;
	line-height: 1.25em;
	font-size: 1.2rem;
	margin-bottom: 35px;
	@media (max-width: 768px) {
		margin-bottom: 20px;
	}
	&:last-child() { margin-bottom: 0; }
}
.price {
	span { word-wrap: normal; }
	br { 
		display: none; 
	}
	@media (max-width:768px) {
		br { display: block; }
	}
}
.wa-widget {
	position: fixed;
	z-index: 500;
	bottom:20px; right: 20px;
	background-color: green;
	width: 65px; height: 65px;
	display: flex; align-items: center; justify-content: center;
	border-radius: 100%;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	svg {
		width: 40px;
		fill: #fff;
	}
}
.tips__gallery {
	width: 100%;
	display: grid; grid-template-columns: repeat(3, 1fr);
	align-content: center; align-items: center;
	grid-gap: 20px;
	img { max-width: 100%; }
	&.cutted { grid-template-rows: 320px; overflow: hidden; }
	@media (max-width:768px) {
		grid-template-columns: 1fr;
		margin-bottom: 20px;
	}
}
.footer {
	background: #242424;
	height: 50vh;
	color: #fff;
	display: flex; flex-direction: column; align-items: center;justify-content: space-evenly;
	// .footer__heading

	&__heading {
		font-weight: bold;
		font-size: 22px;
	}

	// .footer__phone

	&__phone {
		font-size: 30px;
		a, a:visited { color: #fff; }
	}

	// .footer__subheading

	&__subheading {
		font-size: 26px;
		text-transform: uppercase;
		text-align: center;
	}

	// .footer__social-icons

	&__social-icons {
		background: #fff;
		width: 60px;height: 60px;
		border-radius: 100%;
		display: flex; align-items: center;justify-content: center;
		a { display: flex; align-items: center;justify-content: center; }
		svg { width: 60%;height: 60%;  }	

	}
}


@import "img-text";
@import "modal";